/*global*/
body, header, figure, figcaption, aside, article, nav, footer, h1, h3, p {
    display: block;
    margin: 0;
    padding: 0;
}
ul, input {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 304px;
    overflow-x: hidden;
    background-image: url("../img/bg_small.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', lucida console, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
p {
    text-indent: 15px;
    text-align: center;
    font-weight: 600;
}
.centerContent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    padding: 5px;
    margin: 5px;
    background-color: rgb(8,96,114);
    min-height: 10px;
    min-width: 70px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.button:hover {
    background-color: rgb(57,227,248);
}

.hidden {
    display: none;
}
#arrow {
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    font-size: 40px;
    background-color: rgb(57,227,248);
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
    z-index: 100;
}
#arrow:hover {
    opacity: 1;
}
/*header*/
header {
    position: fixed;
    width: calc(100% - 2*10px);
    display: flex;
    justify-content: space-around;
	align-items: center;
    padding: 10px;
    background: rgba(57,227,248,0.9);
}
/*----logo*/
.h_logo {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
}
.h_logo img {
    width: 100%;
    height: 100%;
}
/*----panel*/
.h_panel {
	position: absolute;
	width: 200px;
	background-color: white;
    display: none;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
/*------search*/
.h_search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
	margin: 5px 5px 0 5px;
}
.h_search input {
    width: 126px;
    height: 40px;
    text-indent: 5px;
    border-top: 2px solid rgb(8,96,114);
    border-bottom: 2px solid rgb(8,96,114);
    border-left: 2px solid rgb(8,96,114);
    border-right: 0;
    border-radius: 5px 0 0 5px;
}
.h_search img {
    height: 40px;
    border: 2px solid rgb(8,96,114);
    border-left-width: 1px;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
    background-color: rgb(8,96,114);
    cursor: pointer;
}
.h_search img:hover {
    background-color: rgb(57,227,248);
}
/*------menu*/
.h_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.h_menu_block {
	width: 150px;
    height: 20px;	
	padding: 10px;
	font-size: 20px;
}
/*------panelBar hidden for all exept small devices*/
.h_panelBar {
	color: white;
	height: 40px;
	overflow: hidden;
	font-weight: 800;
	font-size: 30px;
	transform: rotate(90deg) scale(0.8, 2);
	cursor: pointer;
}
/*content*/
.content {
    display: flex;
    margin-top: 120px;
}
/*----aside*/
.c_aside {
}
/*------menu*/
.c_as_menu {
    position: fixed;
    left: -170px;
    height: 100vh;
    width: 150px;
    padding: 10px;
    font-weight: 700;
    color: white;
    background-color: rgba(8,96,114, 0.5);
    transition-duration: 1s;
}
.c_as_menu:after {
    content: '\2771';
    font-size: 50px;
    background-color: rgba(8,96,114, 0.5);
    position: absolute;
    top: 50%;
    right: -23px;
}
.c_as_menu ul li{
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-indent: 15px;
}
.c_as_menu ul li:hover {
    background-color: rgba(57,227,248,0.9);
}
/*----article*/
.c_article {
    flex: 6 0 auto;
}
/*------page main info*/

.c_ar_content {
    height: calc(100vh - 100px - 2*10px);
    display: flex;
    flex-direction: column;
	font-size: 25px;
    cursor: default;
}
.c_ar_content:nth-child(2n) {
    background: rgba(17,197,238,0.9);
}
.c_ar_content:nth-child(2n-1) {
    background: rgba(37,227,248,0.9);
}

/*--------post*/
.c_ar_content_postDiv {
	width: 90%;
	height: 90%;
	background-color: red;
	position: relative;
}
.c_ar_content_postDiv > h2 {
	margin: 1% 10% 5% 10%;
	text-align: center;
}
.c_ar_content_postDiv > p {
	margin: 1% 5% 5% 5% ;
	text-align: justify;
}
.c_ar_content_postDiv > img {
	margin: 1% auto 5% auto ;
}
/*footer*/
footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: calc(100% - 2*10px);
    padding: 10px;
    background: rgba(27,207,238,0.9);
}